.menu {
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    color: whitesmoke;
    font-size: 40px;
    -unity-font-style: bold;
}

.button {
    width: 200px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: whitesmoke;
    font-size: 20px;
}

.hidden {
    display: none;
}